<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clicklabs.shopkeeperassignmentshared">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.Welcome" />
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.SignUp" />
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.SignIn" />
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.CustomerDetails" />
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.ListCustomer" />
        <activity android:name="com.clicklabs.shopkeeperassignmentshared.activities.AddNew"></activity>
    </application>

</manifest>
